/*Others*/
body {
    height: 100em;
    background-image: linear-gradient(0deg, #001f74, #004099, #006b95, #4191b0, #4191b0);
    display: flex;
    justify-content: center;
}

h1 {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    text-align: center;
}

a {
    font-size: 20px;
    color: black;
    font-family: monospace;
    text-decoration: unset;
    position: relative;
    bottom: -24%;
    left: -21%;
}

button {
    display: flex;
    background-color: #006b95;
    border: 5px solid rgba(255, 255, 255, 0.507);
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s;
    flex-direction: row-reverse;
    align-items: center;
}

x {
    font-size: 20px;
    font-style: italic;
    color: aliceblue;
}

y {
    text-decoration: underline;
    text-decoration-color: #3cc8ff;
}

/*Class*/
.imgs {
    width: 25%;
}

.ground {
    width: 102.9px;
    height: 115px;
    position: relative;
    bottom: -94%;
}

.crab2 {
    position: relative;
    bottom: -15%;
    left: -10%;
}

.crab {
    position: relative;
    bottom: -15%;
}

.centerBox {
    display: flex;
    position: relative;
    width: 700px;
    height: 830px;
    bottom: 0%;
    border: 5px solid rgba(255, 255, 255, 0.507);
    border-radius: 15px;
    background-image: linear-gradient(0deg, #00429933, #00409933, #006b9533, #4190b033);
    justify-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    justify-content: space-evenly;
}

.centerBox2 {
    display: flex;
    position: relative;
    width: 700px;
    height: 830px;
    bottom: 0%;
    border: 5px solid rgba(255, 255, 255, 0.507);
    border-radius: 15px;
    background-image: linear-gradient(0deg, #00429933, #00409933, #006b9533, #4190b033);
    justify-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.guys {
    position: relative;
    width: 100px;
}

.terms {
    width: 550px;
}

/*Ids*/
#contact {
    font-size: 1.5em;
    text-align: justify;
}

#noty {
    text-align: center;
    background-color: rgb(65 149 179 / 25%);
    border-radius: 0.25em;
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    text-indent: 0;
}

#bluesky {
    position: relative;
    width: 25px;
    left: -5px;
    color: rgba(255, 255, 255, 0.507);
}

#terms {
    display: flex;
    flex-direction: column;
}

/*Guys*/

#draxx {
    bottom: -12%;
    left: -12%;
}

#gua {
    bottom: -14%;
    left: 13%;
}

#ravi {
    bottom: -12%;
    width: 130px;
    left: 1%;
}

#ayato {
    bottom: -10%;
    left: 25%;
}

#gigante {
    position: absolute;
    left: 75%;
    width: 10%;
    animation: glubglub1 3s infinite alternate-reverse ease-in-out;
}

#juh {
    right: 75%;
    position: absolute;
    width: 10%;
    animation: glubglub2 3s infinite alternate-reverse ease-in-out;
}

#panda {
    left: 86%;
    position: absolute;
    width: 10%;
    animation: glubglub3 3s infinite alternate-reverse ease-in-out;
}

#yuki {
    left: 7%;
    position: absolute;
    width: 10%;
    animation: glubglub4 3s infinite alternate-reverse ease-in-out;
}

#textImg {
    font-size: 18px;
}

#imgs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    height: 45%;
}

#buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#project {
    font-style: italic;
    font-size: large;
}

#ground {
    position: relative;
    top: 27%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

#bubble0,
#bubble1,
#bubble2,
#bubble3,
#bubble4,
#bubble5,
#bubble6,
#bubble7 {
    position: absolute;
    width: 100px;
    left: 50%;
    bottom: 0%;
}

#bubble0 {
    transform: translate(-50%);
    animation: up0 5s infinite 3s ease-in-out;
}

#bubble1 {
    transform: translate(-50%);
    animation: up1 6s infinite 2s ease-in-out;
}

#bubble2 {
    transform: translate(-50%);
    animation: up2 8s infinite 2s ease-in-out;
}

#bubble3 {
    transform: translate(-50%);
    animation: up3 5s infinite 2s ease-in-out;
}

#bubble4 {
    transform: translate(-50%);
    animation: up4 9s infinite 2s ease-in-out;
}

#bubble5 {
    transform: translate(-50%);
    animation: up5 4s infinite 2s ease-in-out;
}

#bubble6 {
    transform: translate(-50%);
    animation: up6 7s infinite 2s ease-in-out;
}

#bubble7 {
    transform: translate(-50%);
    animation: up7 7s infinite 3s ease-in-out;
}

#wave1 {
    position: absolute;
    width: 100%;
    right: 0%;
    top: 0%;
    animation: wave1 5s infinite alternate ease-in-out;
}

#wave2 {
    position: absolute;
    width: 150%;
    right: 10%;
    top: 05%;
    animation: wave2 10s infinite alternate-reverse ease-in-out;

}

#Title {
    position: absolute;
    max-width: 50%;
    max-height: 50%;
}

/*Animations*/

/*Guys*/
@keyframes glubglub1 {
    0% {
        bottom: 90%;
        top: 10%;
    }

    100% {
        bottom: 100%;
        top: 0%;
    }
}

@keyframes glubglub2 {
    0% {
        bottom: 600%;
        top: 125%;
    }

    100% {
        bottom: 600%;
        top: 100%;
    }
}

@keyframes glubglub3 {
    0% {
        transform: translateY(700px);
    }

    50% {
        transform: translateY(800px);
    }

    100% {
        transform: translateY(700px);
    }
}

@keyframes glubglub4 {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    25% {
        transform: translateY(-8px) rotate(-2deg);
    }

    50% {
        transform: translateY(0) rotate(0deg);
    }

    75% {
        transform: translateY(8px) rotate(2deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

/*Hovers*/
button:hover {
    background-color: rgba(108, 192, 145, 0.15);
    transform: scale(1.1);
}

/*Waves*/
@keyframes wave1 {
    0% {
        right: 0px;
        top: 5px;
    }

    25% {
        right: 150px;
        top: 0px;
    }

    50% {
        right: 50px;
        top: 0px;
    }

    75% {
        right: 200px;
        top: 5px;
    }

    100% {
        right: 0px;
        top: 0px;
    }
}

@keyframes wave2 {
    0% {
        right: -25px;
        top: 5px;
    }

    25% {
        right: 150px;
        top: 0px;
    }

    50% {
        right: -50px;
        top: 0px;
    }

    75% {
        right: -200px;
        top: 5px;
    }

    100% {
        right: -25px;
        top: 0px;
    }
}

/*Bubbles*/
@keyframes up0 {
    0% {
        bottom: 0%;
        top: 200%;
        left: 5%;
    }

    15% {
        left: 0%;
    }

    30% {
        left: 5%;
    }

    45% {
        left: 0%;
    }

    60% {
        left: 5%;
    }

    75% {
        left: 0%;
    }

    90% {
        left: 5%;
    }

    100% {
        bottom: 100%;
        top: -15%;
        left: 0%;
    }
}

@keyframes up1 {
    0% {
        bottom: 0%;
        top: 200%;
        left: 75%;
    }

    15% {
        left: 70%;
    }

    30% {
        left: 75%;
    }

    45% {
        left: 70%;
    }

    60% {
        left: 75%;
    }

    75% {
        left: 70%;
    }

    90% {
        left: 75%;
    }

    100% {
        bottom: 100%;
        top: -15%;
        left: 70%;
    }
}

@keyframes up2 {
    0% {
        bottom: 0%;
        top: 200%;
        left: 25%;
    }

    15% {
        left: 20%;
    }

    30% {
        left: 25%;
    }

    45% {
        left: 20%;
    }

    60% {
        left: 25%;
    }

    75% {
        left: 20%;
    }

    90% {
        left: 25%;
    }

    100% {
        bottom: 100%;
        top: -15%;
        left: 20%;
    }
}

@keyframes up3 {
    0% {
        bottom: 0%;
        top: 200%;
        left: 35%;
    }

    15% {
        left: 30%;
    }

    30% {
        left: 35%;
    }

    45% {
        left: 30%;
    }

    60% {
        left: 35%;
    }

    75% {
        left: 30%;
    }

    90% {
        left: 35%;
    }

    100% {
        bottom: 100%;
        top: -15%;
        left: 30%;
    }
}

@keyframes up4 {
    0% {
        bottom: 0%;
        top: 200%;
        left: 45%;
    }

    15% {
        left: 40%;
    }

    30% {
        left: 45%;
    }

    45% {
        left: 40%;
    }

    60% {
        left: 45%;
    }

    75% {
        left: 40%;
    }

    90% {
        left: 45%;
    }

    100% {
        bottom: 100%;
        top: -15%;
        left: 40%;
    }
}

@keyframes up5 {
    0% {
        bottom: 0%;
        top: 200%;
        left: 55%;
    }

    15% {
        left: 50%;
    }

    30% {
        left: 55%;
    }

    45% {
        left: 50%;
    }

    60% {
        left: 55%;
    }

    75% {
        left: 50%;
    }

    90% {
        left: 55%;
    }

    100% {
        bottom: 100%;
        top: -15%;
        left: 50%;
    }
}

@keyframes up6 {
    0% {
        bottom: 0%;
        top: 200%;
        left: 65%;
    }

    15% {
        left: 60%;
    }

    30% {
        left: 65%;
    }

    45% {
        left: 60%;
    }

    60% {
        left: 65%;
    }

    75% {
        left: 60%;
    }

    90% {
        left: 65%;
    }

    100% {
        bottom: 100%;
        top: -15%;
        left: 60%;
    }
}

@keyframes up7 {
    0% {
        bottom: 0%;
        top: 200%;
        left: 85%;
    }

    15% {
        left: 80%;
    }

    30% {
        left: 85%;
    }

    45% {
        left: 80%;
    }

    60% {
        left: 85%;
    }

    75% {
        left: 80%;
    }

    90% {
        left: 85%;
    }

    100% {
        bottom: 100%;
        top: -15%;
        left: 80%;
    }
}